<html>
<head>
<style>

.row {

  position:fixed;
 right:10px;
 bottom: 10px ;
}

</style>
<body>
  <div class="row">
    <a href="http://localhost:3000/chat">
    <img src="http://localhost:3000/public/images/tenor.gif", height = 50 width = 50/></a>
</div>
</body>
  </html>
